@import "../../assets/style/globalPartials/variables";
@import "./NavSteps";
@import "./Hero";

%fontSize14 {
  font-size: 0.75rem;
}

.Title {
  padding: 3.125rem 0;
  .subtitle {
    display: block;
    font-size: 1.5rem;
  }
}

.note {
  @extend %fontSize14;
}
.mistake {
  @extend %fontSize14;
  h2 {
    font-size: 1.5rem;
  }
}
.note {
  color: $greyDisabledColor;
}

.buttons {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  .button {
    margin-right: 4.5rem;
  }
  .button:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: $br-point-mobile) {
  .buttons {
    flex-direction: column;
    .button {
      width: 100%;
    }
  }
}
@media screen and (min-width: $br-point-tablet) {
  .textWidth {
    margin-left: auto;
    margin-right: auto;
    width: 45.625rem;
  }
}