@use "../../../assets/style/globalPartials/variables.scss" as *;
@use "../../../assets/style/extends/dropdown" as *;

.langMenu {
  .langMenuWrapper {
    @extend .dropdownWrapper;
    top: 50px;
    width: 65px;
    padding: 5px 0;
    list-style: none;

    li {
      width: 100%;

      a {
        width: 100%;
        padding: 4px 1rem;
        color: $black;
      }
    }

    li:hover {
      background-color: $greyBg;
    }
  }
}

@media screen and (min-width: $br-point-md) {
  .langButton {
    svg {
      width: 9px;
      min-width: 9px;
      fill: none;
      stroke: $white;
      stroke-width: 2px;
      margin-top: 4px;
      margin-left: 3px;
    }
  }
}
