@import "../../../assets/style/globalPartials/variables";

.embroideryCard {
  max-width: 188px;
  width: 100%;
  padding: 17px 24px 20px;
  cursor: pointer;
  border: 0;
  border: 1px solid $grey1;
  border-radius: 6px;
  justify-content: flex-start;

  * {
    text-align: center;
    font-size: 0.875rem;
    color: $black;
  }
}

.embroideryCard:hover {
  * {
    color: $black;
  }

  .embroideryCardStatus {
    color: $white;
    opacity: 0.7;
  }
}

.embroideryCardNew {
  border: 1px dashed #4F4F4F;
  padding: 75px 24px 51px;
  justify-content: space-between;

  .plusButtonWrapper {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #bdbdbd;
    background-color: #4F4F4F;

    svg {
      width: 15px;
      color: $white !important;
      stroke: $white !important;

      path {
        color: $white !important;
        stroke: $white !important;
      }
    }
  }

  p {
    font-weight: 600;
  }
}

.embroideryCardNew:hover {
  border: 1px dashed $black;

  * {
    color: $black;
  }

  .plusButtonWrapper {
    border: 1px solid $black;
    background-color: $black;

    svg {
      color: $white !important;
      stroke: $white !important;

      path {
        color: $white !important;
        stroke: $white !important;
      }
    }
  }
}

.embroideryCardNewDisabled {
  border: 1px dashed #bdbdbd;
  color: #bdbdbd;
  cursor: default;
  pointer-events: none;

  .plusButtonWrapper {
    border: 1px solid #bdbdbd;
    background-color: #bdbdbd;
  }

  p {
    color: #bdbdbd;
  }
}

.embroideryCardImg {
  width: 108px;
  height: 108px;
  border-radius: 50%;
  display: block;
  margin-bottom: 0.375rem;
  object-fit: cover;
}

.embroideryCardName {
  font-weight: 600;
  margin: 9px auto 0;
}

.embroideryCardStatus {
  font-family: 'Roboto';
  margin-top: 6px;
  padding: 4px 6px;
  border-radius: 12px;
  color: $white;
  white-space: nowrap;
}

.embroideryCardStatusInProgress {
  background-color: $embroideryCardStasusInProgress;
}

.embroideryCardStatusPatternReady {
  background-color: $embroideryCardStasusPatternReady;
}

.embroideryCardStatusStitched {
  background-color: $embroideryCardStasusStitched;
}

.embroideryCardStatusSent {
  background-color: $embroideryCardStasusSent;
}

.embroideryCardStatusPublished {
  background-color: $embroideryCardStasusPublished;
}

.embroideryCardStatusDelivered {
  background-color: $embroideryCardStasusDelivered;
}

.embroideryCardStatusRequested {
  background-color: $embroideryCardStasusRequested;
}

@media screen and (min-width: $br-point-md){
  .embroideryCard {
    width: 188px;
    height: 245px;
  }
}
