@import "../../../assets/style/globalPartials/variables";

.Content {
  padding-bottom: 0;
}

.FoundHero {
  @media screen and (min-width: $br-point-md) {
    display: grid;
    grid-template-columns: 21.75rem 1fr;
    grid-template-areas: "photo description"
                          "buttons buttons";
    gap: 0 2.125rem;
  }

  .buttons {
    justify-content: flex-start;

    @media screen and (min-width: $br-point-md) {
      margin-top: 1rem;
    }
  }
}

@media screen and (min-width: $br-point-md) {
  .Hero-Photo {
    margin-bottom: 0;
    grid-area: photo;
  }
}

@media screen and (min-width: $br-point-md) {
  .Hero-Description {
    margin-bottom: 0;
    grid-area: description;
  }
}

.Hero-Photo,
.Hero-Description {
  margin-bottom: 34px;
}

.Hero-Photo img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.1rem;
  width: 100%;
  height: 100%;
  max-width: 21.75rem;
  max-height: 21.75rem;
  object-fit: cover;
  display: block;
  border-radius: 1rem;
  box-shadow: $defaultShadow;
  filter: grayscale(100%);
}

.Hero-Description-case {
  margin-top: 4px;
  font-size: 1.25rem;
  font-weight: 600;
  color: $greyDark;
}

.Hero-Description-name {
  margin-bottom: 34px;
  font-size: 2.25rem;
  font-weight: 600;
}

.Hero-content-titleWrapper {
  flex-direction: column;
  margin-bottom: 23px;

  @media screen and (min-width: $br-point-md) {
    display: grid;
    grid-template-columns: 31% 35% 25%;
  }
}

.Hero-Bio-info,
.Hero-Description-data {
  .title {
    font-size: 1rem;
    margin-bottom: 2px;
    font-weight: 600;
  }
}

.Hero-Description-data {
  margin-bottom: 20px;
}

.Hero-Description-prison-address {
  margin-bottom: 30px;
}

.linkToSource {
  margin-bottom: 36px;

  svg {
    margin-left: 10px;
  }
}

.warning {
  svg {
    margin: 5px 10px 0 2px;
  }
}
