@use "../../../assets/style/globalPartials/variables.scss" as *;
@use "../../../assets/style/mixins/general" as *;
@use "../../../assets/style/mixins/steps" as *;

@include thankYouContent;
@include buttons;
@include limitedTextWidthLg;

.Waiting {
  .thankYouContent {
    padding-top: 13.125rem;
    background-image: url(../../../assets/media/img/bg_waiting.svg);
    background-size: 11.188rem 8.625rem;
  }
}

@media screen and (min-width: $br-point-lg) {
  .Waiting {
    .thankYouContent {
      padding-top: 202px;
      background-size: 16.188rem 11.625rem;
    }
  }
}
