@import "../../../assets/style/globalPartials/variables";
@import "../../../assets/style/steps";
@import "../../../assets/style/mixins/steps";

@include thankYouContent;

.Done {
  .thankYouContent {
    padding-top: 200px;
    background-image: url(../../../assets/media/img/bg_done.svg);
    background-size: 312px 186px;
  }
}
