@import "../../../assets/style/globalPartials/variables";

.toggleTextWrapper {
  h3 {
    margin-bottom: 0;
    font-weight: 600;
  }

  button {
    font-weight: 600;
    font-size: 14px;
    margin-top: 2px;
  
    svg {
      width: 11px;
      margin: 7px 0 0 12px;
      stroke: $red;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
  
  button.showMoreBtnActive {
    svg {
      transform: rotate(180deg);
    }
  }
}