@import "../../../assets/style/globalPartials/variables.scss";
@import "../../../assets/style/extends/dropdown";

.inputLangMenu {
  position: relative;
  width: 100%;
  padding: 8px;
  border-radius: 0.375rem;
  border: solid 1px $grey1;
  cursor: pointer;

  .langButton {
    width: 100%;
    justify-content: space-between;
    padding: 8px;
    font-size: 1rem;

    svg {
      width: 9px;
      fill: $black;
      stroke: unset;
      stroke-width: unset;
      margin-top: 4px;
    }
  }

  .langButtonPlaceholder {
    color: $greyDisabledColor;
  }

  .inputLangMenuWrapper {
    @extend .dropdownMenuWrapper;
    position: absolute;
    top: 35px;
    min-width: 65px;
    padding: 5px 0;
    list-style: none;
  
    li {
      width: 100%;

      button {
        width: 100%;
        padding: 4px 1rem;
        color: $black !important;
      }
    }
  
    li:hover {
      background-color: $greyBg;
    }
  }
}
