@import "../../../assets/style/globalPartials/variables";

.GoBack {
  display: flex;
  width: fit-content;
  flex-direction: row;
  align-items: center;
  top: 0.188rem;
  right: 1rem;
  position: absolute;
}

.GoBack-img {
  display: block;
  width: 25px;
  fill: none !important;
}

.GoBack-text {
  display: none;
}

@media screen and (min-width: $br-point-tablet) {
  .GoBack {
    top: -28px;
    left: 2px;
  }

  .GoBack-text {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    color: $black;
    margin-left: 5px;
  }
}