@import "../../../assets/style/globalPartials/variables";

.content {
  >section:nth-child(2) {
    max-width: 730px;
    margin: 0 auto;
  }
}

.blockquote {
  margin-bottom: 1rem;
  text-align: center;
  font-style: italic;
}
.blockquote-content {
  margin-bottom: 0;
  font-size: 1.5rem;
}
.blockquote-author {
  color: $greyDisabledColor;
}
.blockquote-quote_opened,
.blockquote-quote_closed {
  font-family: 'Oranienbaum';
  font-size: 2.25rem;
  font-style: normal;
}
.blockquote-quote_opened {
  margin-right: 1rem;
}
.blockquote-quote_closed {
  margin-left: 1rem;
}
.SupportMethods {
  margin-top: 1.875rem;
}
.SupportMethod-title {
  margin-left: 1.15rem;
  margin-bottom: 1rem;
  display: list-item;
  list-style: disc outside;
  font-size: 1.5rem;
  font-weight: 600;
}
.SupportMethod-title::marker {
  font-size: 1rem;
}
.SupportMethod-content {
  margin-bottom: 1.5rem;

  .title {
    font-size: 14px;
    margin-bottom: 0;
  }

  dt {
    clear: left;
    float: left;
    margin-right: 0.5em;
    font-weight: 600;
  }

  dt::after {
    content: ":";
  }
}

@media screen and (min-width: $br-point-desktop) {
  .SupportMethod-title {
    margin-left: 0;
  }
}

.likeA {
  color: $red;
}

.title, b, .likeA {
  font-weight: 600;
}