@import "../../../assets/style/globalPartials/variables";
@import "../../../assets/style/mixins/general";
@import "../../../assets/style/mixins/steps";

@include buttons;
@include limitedTextWidthLg;

.heroBioWrapper {
  margin-bottom: 25px;
}

.blockquote {
  margin-bottom: 18px;
  text-align: center;
}

.blockquote-content {
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 2rem !important;
}

.blockquote-author {
  color: $greyDark;
  margin-top: -2px;
  font-size: 14px;
}

.section1 {
  font-size: 14px;
}

.SupportMethods {
  margin-top: 40px;

  dd {
    font-size: 14px;
    line-height: 20px;

    * {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.SupportMethod-title {
  margin-bottom: 14px;
  font-size: 1.5rem;
  font-weight: 600;
}

.SupportMethod-title::marker {
  font-size: 1rem;
}

.SupportMethod-content {
  margin-bottom: 24px;

  .title {
    font-size: 14px;
    margin-bottom: 0;
  }

  dt {
    clear: left;
    float: left;
    margin-right: 0.5em;
    font-weight: 600;
  }
}

.SupportMethod-socials {
  span {
    font-weight: 600;
  }
}

.SupportMethod-financial {
  ul {
    list-style: none;
  }
  
  li {
    margin: 6px 0;
    padding-left: 8px;
  }
  
  li::before {
    content: "•";
    padding-right: 8px;
    color: $red;
  }
}

@media screen and (min-width: $br-point-lg) {
  .SupportMethod-title {
    margin-left: 0;
  }

  .SupportMethod-content {
    ul {
      margin-left: 0;
    }
  }
}
