@import "../../../assets/style/globalPartials/variables";
@import "../../../assets/style/mixins/general";
@import "../../../assets/style/mixins/steps";

@include buttons;
@include limitedTextWidthLg;
@include thankYouContent;

.Done {
  .thankYouContent {
    padding-top: 50vw;
    background-image: url(../../../assets/media/img/bg_done.svg);
    background-size: 80vw auto;
  }
}

@media screen and (min-width: $br-point-lg) {
  .Done {
    .thankYouContent {
      padding-top: 200px;
      background-size: 312px 186px;
    }
  }
}
