@use "../../../assets/style/globalPartials/variables.scss" as *;
@use "../../../assets/style/mixins/general" as *;
@use "../../../assets/style/mixins/steps" as *;

@include buttons;
@include limitedTextWidthLg;
@include thankYouContent;

.Done {
  .thankYouContent {
    padding-top: 50vw;
    background-image: url(../../../assets/media/img/bg_done.svg);
    background-size: 80vw auto;
  }
}

@media screen and (min-width: $br-point-lg) {
  .Done {
    .thankYouContent {
      padding-top: 200px;
      background-size: 312px 186px;
    }
  }
}
