$black: #020202;
$white: #fff;
$red: #D10000; /* .Content a */
$redHover: #FF565D; /* a:hover, a:focus, button.bg_red:hover */
$redBlood: #860C22; /* Gallery section background-color */
$inputsBorder: #DADADA;
$inputsBorderFocus: #6200EE;
$greyButtonHover: #535353;
$greyDisabledColor: #828282;
$greyDisabledBg: #E6E6E6;
$borderLight: #E0E0E0;
$bgSpoiler: #F8F8F8;
$lime: #27AE60; /*alert Info */
$orange: #F2994A; /* .embroideryCard-status_progress, .iconMessage */
$embroideryCardStasusFinish: #219653;
$defaultShadow: 0 8px 10px rgba(0,0,0,0.2);
$bgHint: rgba(0,0,0,0.6); /* Header */
$bgCookies: #181818; /* MainFooter.scss */
$divider: rgba(33,33,33,0.08);

$br-point-desktop: 1110px + 17px; /* scroll */
$br-point-tabletUpper: 1109px;
$br-point-tablet: 800px;
$br-point-mobile: 799px;

$font-size-1: 48px;
$font-size-2: 16px;

$line-height-1: 32px;
$line-height-2: 24px;
