$black: #020202;
$white: #fff;
$red: #D10000;
$redLight: #EB5757;
$redHover: #FF565D;
$redDark: #860C22;
$grey: #bdbdbd;
$greyLight: #d9d9d9;
$greyDark: #4F4F4F;
$greyDarkMenu: #272727;
$greyBg: #f2f2f2;
$greyLightBg: #F8F8F8;
$greyButtonHover: #535353;
$greyDisabled: #828282;
$greyDisabledBg: #E6E6E6;
$greyTransparentBG: rgba(24, 24, 24, 0.75);
$inputBorder: #DADADA;
$inputBorderFocus: #6200EE;

// embroideryCard statuses
$embroideryCardStasusInProgress: #E4791A;
$embroideryCardStasusPatternIsReady: #2D9CDB;
$embroideryCardStasusStitched: #2F80ED;
$embroideryCardStasusSent: #009F9F;
$embroideryCardStasusPublished: #219653;
$embroideryCardStasusDelivered: #B812BB;
$embroideryCardStasusRequested: #9B51E0;

$defaultShadow: 0 8px 10px rgba(141, 125, 125, 0.2);
$orange: #EC801F;

$br-point-xl: 1440px;
$br-point-lg: 1142px;
$br-point-md: 800px;
$br-point-sm: 576px;
$br-point-xs: 320px;

$font-size-1: 48px;
$font-size-2: 16px;

$line-height-1: 32px;
$line-height-2: 24px;

$question: #F09F02;
$notification: #fef7ec;
$warning: $red;
