$black: #020202;
$white: #fff;
$red: #D10000; /* .Content a */
$redLighter: #EB5757; /* .Content a */
$redHover: #FF565D; /* a:hover, a:focus, button.bg_red:hover */
$redBlood: #860C22; /* Gallery section background-color */
$inputsBorder: #DADADA;
$inputsBorderFocus: #6200EE;
$greyButtonHover: #535353;
$greyDisabledColor: #828282;
$greyDisabledBg: #E6E6E6;
$greyBg: #f2f2f2;
$greyDark: #4F4F4F;
$greyDark2: #1d1d1d;
$grey1: #bdbdbd;
$grey2: #bdbdbd;
$grey3: #d9d9d9;
$greyTransparentBG: rgba(24, 24, 24, 0.75);
$borderLight: #E0E0E0;
$bgSpoiler: #F8F8F8;
$lime: #27AE60; /*alert Info */
$embroideryCardStasusProgress: #F2994A;
$embroideryCardStasusFinish: #219653;
$defaultShadow: 0 8px 10px rgba(0,0,0,0.2);
$orange: #EC801F;

$br-point-xl: 1440px;
$br-point-lg: 1142px;
$br-point-md: 800px;
$br-point-sm: 576px;
$br-point-xs: 320px;

$font-size-1: 48px;
$font-size-2: 16px;

$line-height-1: 32px;
$line-height-2: 24px;
