@use "../../../assets/style/globalPartials/variables.scss" as *;
@use "../../../assets/style/mixins/general" as *;

@include buttons;

.manual {
  .title {
    margin-bottom: 0.75rem;
  }
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.paternSchemaWrapper {
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 350px;
}

.manual-part,
.subscription {
  margin-bottom: 28px;
}

.manual-part {
  ul {
    margin-left: 22px;
  }
}

.sizeChart {
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 725px;
  border: 1px solid $greyBg;

  * {
    font-size: 12px;
  }

  thead {
    background-color: $greyBg;
  }

  tr {
    border-bottom: 1px solid $greyBg;
  }

  td {
    padding: 0.25rem 0.5rem;
  }
}

iframe {
  width: 100%;
  height: calc((100vw - 1.25rem)/16*9);
}

.subscription {
  margin: 45px 0 1.25rem;
  flex-direction: column;

  .subscription-content {
    margin-bottom: 1.25rem;
    order: 2;
  }
  
  .subscription-patterns-wrapper {
    margin-bottom: 1.25rem;
    order: 1;
  }
}

@media screen and (min-width: $br-point-md) {
  .manual-part {
    width: 45.375rem;
  }

  .sizeChart {
    * {
      font-size: 1rem;
    }

    td {
      padding: 0.75rem 0.875rem;
    }
  }
}

@media screen and (min-width: $br-point-lg) {
  .subscription {
    justify-content: space-between;
    flex-direction: row;

    .subscription-content {
      margin-bottom: 1.25rem;
      order: 1;
    }
    
    .subscription-patterns-wrapper {
      margin-bottom: 0;
      order: 2;
    }
  }

  .sizeChart {
    td {
      padding: 0.75rem 0.875rem;
    }
  }

  iframe {
    height: calc(1100px/16*9);
  }
}