@import "../../../assets/style/globalPartials/variables.scss";

.Header_sign {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 7px;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  svg {
    fill: $greyDark;
  }

  * {
    color: $greyDark;
  }
}

.Lang {
  position: relative;
  margin-right: 26px;

  * {
    font-weight: 600;
    font-size: 1rem;
  }

  .Lang-button {
    .arrow {
      transition-property: transform;
      transition-duration: 0.15s;
    }
  }
}

.Lang[open] {
  .Lang-button {
    .arrow {
      transform: rotate(180deg);
    }
  }
  .Lang-select {
    display: block;
    position: absolute;
    right: 0;
    // border: 1px solid $black;
    border: none;
    // border-bottom-left-radius: 16px;
    // border-bottom-right-radius: 16px;
    transition-property: display;
    transition-duration: 0.15s;
    .Lang-link {
      padding: 0.5rem;
      display: block;
    }
  }
}

/* Desktop */
@media screen and (min-width: $br-point-lg) {
  .content {
    padding-left: 545px;
  }
}
