@import "../../../assets/style/globalPartials/variables";
@import "../../../assets/style/steps";
@import "../../../assets/style/mixins/steps";

.chooseShipping {
  @include chooseShipping;
}

.chooseSecondEmbroideryShipping {
  p {
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 2px;
  }

  .title {
    margin-bottom: 10px;
  }

  h3:nth-of-type(2) {
    margin-top: 1rem;
  }
}
