@import "../../../assets/style/globalPartials/variables";
@import "../../../assets/style/mixins/general";
@import "../../../assets/style/mixins/steps";

@include buttons;
@include limitedTextWidthLg;

.uploadFiles {
  margin: 10px 0 30px;
  padding: 14px 1rem 24px;
  border: 1px dashed $greyDisabledColor;
  box-shadow: none;
  background-color: $greyBg;

  * {
    font-size: 1rem;
  }
}

.uploadFiles-descript {
  text-align: center;

  .line {
    display: block;
  }

  .line:last-child {
    width: fit-content;
    margin-top: 8px;
  }

  svg {
    fill: $black;
    width: 12px;
    height: 12px;
    margin-right: 6px;
  }
}

.uploadFiles-descript-icon {
  margin-right: 0.5rem;
  width: 0.7rem;
  height: 0.7rem;
  transform: rotate(45deg);
  stroke: $black;

  path {
    fill: $black;
  }
}

.photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.875rem;
  justify-items: center;
  padding: 0 5px;
  margin-bottom: 30px;
}

@media screen and (min-width: $br-point-md) {    
  .photos {
    grid-template-columns: repeat(3, 1fr);
  }
}
