@import "../../../assets/style/globalPartials/variables";
@import "../../../assets/style/steps";
@import "../../../assets/style/mixins/steps";

@include thankYouContent;

.Waiting {
  .thankYouContent {
    padding-top: 13.125rem;
    background-image: url(../../../assets/media/img/bg_waiting.svg);
    background-size: 11.188rem 8.625rem;
  }
}

@media screen and (min-width: $br-point-lg) {
  .Waiting {
    .thankYouContent {
      padding-top: 202px;
      background-size: 16.188rem 11.625rem;
    }
  }
}
