@import "../../../assets/style/globalPartials/variables.scss";

.pointerUpWrapper {
  position: fixed;
  width: 42px;
  height: 42px;
  bottom: 2rem;
  right: 2rem;
  z-index: 10000;
  background-color: $greyDark2;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  svg {
	  fill: none;
    stroke: $white;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
    width: 1.25rem;
    height: auto;
  }
}

@media screen and (min-width: $br-point-md){
  .pointerUpWrapper {
    width: 72px;
    height: 72px;
    bottom: 62px;
    right: 62px;
  
    svg {
      width: 28px;
    }
  }
}
