@import "../../assets/style/globalPartials/variables";
@import "../../assets/style/mixins/general";

@include radioWrapper;

.correctionsContent {
  h1 {
    font-size: 32px;
    margin-top: 26px;
    margin-bottom: 22px;
  }

  .description {
    font-size: 1rem;
  }

  .formWrapper {
    margin-top: 32px;

    .radioWrapper {
      margin-bottom: 8px;

      label svg {
        margin-left: 8px;
      }
    }
  }

  .radioWrapper .HelpCircleThick {
    fill: $greyDark;
  }

  .buttons {
    margin-top: 8px;
    justify-content: flex-start;
  }
}

.correctionsContent.correctionsSuccessContent {
  h1 {
    font-size: 22px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

@media screen and (min-width: $br-point-lg) {
  .correctionsContent {
    h1 {
      margin-top: 20px;
      margin-bottom: 2px;
    }

    .formWrapper {
      margin-top: 26px;
    }

    .buttons {
      margin-top: 28px;
    }
  }
}
