@import "../../../assets/style/globalPartials/variables";

.Hero {
  margin-bottom: 32px;
  padding: 15px 16px 20px;
  display: grid;
  grid-template-columns: 1fr 1rem;
  align-items: start;
  background-color: $bgSpoiler;
  border-radius: 0.75rem;
  max-width: 730px;
}

#HeroHidden:checked + .Hero {
  display: none;
}

.Hero-header {
  display: grid;
  grid-template-columns: 66px 1fr;
  gap: 13px 1rem;
  align-items: center;
}

.Hero-header-photo {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid $black;

  img {
    width: auto;
    height: 100%;
    object-fit: contain;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
}

.Hero-header-title {
}

.Hero-header-case {
  margin: 4px 0 0px;
  line-height: 1rem;
}

.Hero-header-name {
  margin: 2px 0 0;
  font-size: 26px;
  line-height: 26px;
  font-weight: 600;
}

.Hero-more-button,
.Hero-less-button {
  align-items: center;
  grid-column: span 2;
  text-align: left;
  cursor: pointer;
  margin-left: 5px;
}

.Hero-more-button-text,
.Hero-less-button-text {
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: $red;
}

.Hero-more-button-img,
.Hero-less-button-img {
  width: 13px;
  height: 8px;
  margin-left: 3px;
  stroke: $red;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.Hero-less-button-img {
  transform: rotate(180deg);
}

.Hero-more-button:hover,
.Hero-less-button:hover  {
  color: $redHover;

  .Hero-more-button-img {
    stroke: $redHover;
  }
}

.Hero-close {
  width: 1rem;
  height: 1rem;
  margin-top: 6px;
}

.Hero-close-img {
  width: 100%;
  height: 100%;
}

.Hero-content {
  display: none;
  grid-column: span 2;
}

.Hero-Bio-info,
.Hero-Description-data {
  .title {
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: 600;
  }
}

.Hero-Description-data {
  margin-bottom: 20px;
}

#heroMore:checked ~ .Hero-content {
  display: block;
}
#heroMore:checked ~ .Hero-header {
  margin-bottom: 30px;

  .Hero-more-button {
    display: none;
  }
}

@media screen and (min-width: $br-point-tablet) {
  .Hero-content-titleWrapper {
    display: grid;
    grid-template-columns: 35% 40% 25%;
    margin-bottom: 10px;
  }
}
