@import "../../../assets/style/globalPartials/variables.scss";

.mainLogoWrapper {
  .text {
    font-family: 'Anton', sans-serif;
    font-size: 1.25rem;
    margin-left: 4px;
    color: $white;
  }
}

.mainMenuWrapperRegistration .mainLogoWrapper {
  .text {
    color: $black;
  }
}
