@import "../../../assets/style/globalPartials/variables";

.content {
  >section:nth-child(2) {
    max-width: 730px;
    margin: 0 auto;
  }
}

.part {
  margin-bottom: 1.125rem;
}

.Comment-header {
  margin-bottom: 0.375rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  label {
    font-size: 1rem;
  }
}

textarea {
  margin-bottom: 0;
}

.publishComment-item {
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.publishComment-item-input {
  margin-right: 1.125rem;
}
