@import "../../../assets/style/globalPartials/variables.scss";

.sortMenuWrapper {
	position: relative;
	border-radius: 6px;
	margin: 0;

	.sortMenuTitleWrapper {
		position: relative;
		z-index: 102;
		height: 100%;
		width: 100%;
		min-width: 251px;
		height: 100%;
		padding: 10px 17px;
		border: 1px solid $grey;
		border-radius: 6px;
		align-items: center;
		font-size: 14px;
		white-space: nowrap;
		font-weight: 600;

		svg {
			fill: none;
			stroke: $grey;
			height: auto;
			transform-origin: center;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-width: 2px;
		}

		svg:nth-child(1) {
			width: 24px;
			margin-right: 12px;
		}

		svg:nth-child(2) {
			width: 16px;
			margin-left: auto;
		}
	}

	.sortingWrapper {
		position: absolute;
		z-index: 110;
		top: 0;
		left: 0;
		margin: 56px 0px 0;
		border: 1px solid $grey;
		background-color: $white;
		box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
		border-radius: 6px;
		overflow: hidden;
		min-width: 152px;

		li {
			width: 100%;

			button {
				font-weight: 600;
				width: 100%;
				padding: 9px 12px;
				letter-spacing: 0.4px;
				white-space: nowrap;
			}

			button:hover {
				background-color: $greyBg;
			}
		}

		li:last-child {
			border-bottom: unset;
		}
	}
}

.sortMenuWrapperClosed {
	.sortMenuTitleWrapper {
		svg {
			transform: rotate(0);
		}
	  }
}

.sortMenuWrapperOpened {
	.sortMenuTitleWrapper {
		svg {
			transform: rotate(-180deg);
		}
	}
}

.sortMenusGalleryWrapper .sortMenuTitleWrapper {
	color: $white;

	svg:nth-child(1) {
		* {
			stroke: $white;
		}
	}
}