@use "../../../assets/style/globalPartials/variables.scss" as *;

.Hero {
  position: relative;
  margin-bottom: 32px;
  padding: 20px 18px 30px;
  background-color: $greyLightBg;
  border-radius: 0.75rem;
  max-width: 730px;

  .Hero-close {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 14px;
    height: 14px;
    margin-top: 6px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .Hero-header {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 0px 18px;
    align-items: center;
    margin-bottom: 26px;
  }

  .Hero-header-photo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid $black;

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
      filter: grayscale(100%);
    }
  }

  .Hero-header-case {
    margin: 6px 0 0px;
    line-height: 1rem;
    color: $greyDark;
  }

  .Hero-header-name {
    margin: 2px 0 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
  }

  .Hero-Bio-Wrapper {
    width: 100%;
    margin-bottom: 10px;
  }

  .showMoreBtn {
    font-weight: 600;
    font-size: 16px;
  
    svg {
      width: 11px;
      margin: 7px 0 0 22px;
      stroke: $red;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
    }
  }
  
  .showMoreBtn.showMoreBtnActive {
    svg {
      transform: rotate(180deg);
    }
  }

  .Hero-Bio-info,
  .Hero-Description-data {
    margin-bottom: 20px;

    .title {
      font-size: 1rem;
      margin-bottom: 2px;
      font-weight: 600;
    }
  }

  .Hero-Description-data:last-of-type {
    margin-bottom: 12px;
  }

  @media screen and (min-width: $br-point-sm) {
    .Hero-Bio-Wrapper {
      display: grid;
      grid-template-columns: 35% 40% 25%;
    }

    .Hero-Bio-info {
      margin-bottom: unset;
    }
  }
}
