@import "../../../assets/style/globalPartials/variables.scss";

.fullScreenSwiperWrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 110;

  .swiperBackground {
    background-color: $greyTransparentBG;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }

  .fullScreenSwiper {
    position: absolute;
    pointer-events: none;
    left: 10vw;
    top: 10vh;
    max-width: 80vw;
    max-height: 80vh;
    width: 80vw;
    height: 80vh;
  }

  .swiper-wrapper {
    width: 100vw;

    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;

      >div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-height: 100%;

        img {
          max-height: 80vh;
          max-width: 70vw;
          width: auto;
          height: auto;
          object-fit: cover;
          border-radius: 4px;
          flex-grow: 1;
        }

        div {
          width: 100%;
          max-width: 70vw;
          background-color: $greyDarkMenu;
          position: absolute;
          bottom: 0;

          span {
            color: $white;
            text-align: center;
            display: block;
            font-size: 10px;
            line-height: 14px;
            padding: 4px 10px;
          }
        }
      }
    }
  }

  .swiperArrowBtn {
    position: absolute;
    top: calc(50vh - 1.5rem);
    z-index: 10;
    height: 3rem;
    width: 3rem;
    border: none;
    background-color: transparent;
    appearance: none;
    cursor: pointer;

    svg {
      width: 3rem;
      fill: none;
      stroke: $white;
    }
  }

  .swiperArrowBtnLeft {
    left: 1.5vw;
  }

  .swiperArrowBtnRight {
    right: 1.5vw;
  }
}

@media screen and (min-width: $br-point-md) {
  .fullScreenSwiperWrapper {
    .swiperArrowBtn {
      top: calc(50vh - 2rem);
      height: 4rem;
      width: 4rem;
  
      svg {
        width: 4rem;
      }
    }
  
    .swiperArrowBtnLeft {
      left: 6vw;
    }
  
    .swiperArrowBtnRight {
      right: 6vw;
    }
  }
}
