@use "../../../assets/style/globalPartials/variables.scss" as *;

.Embroiderer {
  display: none;
}

@media screen and (min-width: $br-point-lg) {
  .Embroiderer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF3F1;
    width: 43.5%;
    height: 100vh;
  }

  .registrationlgLayout {
    .Embroiderer {
      width: 38%;
    }
  }
}

@media screen and (max-width: $br-point-xl) {
  .registrationlgLayout .Embroiderer {
    display: none;
  }
}
