@import "../../assets/style/globalPartials/variables.scss";

.b {
  margin-bottom: 1.5rem;
  * {
    margin-bottom: 0;
  }
}

.form.end {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1.title {
  margin-bottom: 1rem;
}
.button {
  margin-right: 0;
  font-size: 1em;
}


@media screen and (min-width: $br-point-tablet) {
.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  input, select {
    width: 48%;
  }
}

}