@import "../../../assets/style/globalPartials/variables.scss";

%flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
%appearanceNone {
  border: none;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.Slider {
  position: relative;
  .bg_red {
    display: none;
  }
}
.Slider-content {
  width: 100%;
}

.Slider-item {
  display: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.125rem;
  height: auto;
  width: inherit;
  &.active {
    display: block;
  }
  * {
      @extend %flexRow;
      display: inherit;
      width: inherit;
      height: inherit;
  }
}
.Slider-switcher {  
  @extend %flexRow;
  align-items: center
}
.Slider-switcher-dots {  
  @extend %flexRow;
}

.Slider-switcher-arrow {
  @extend %appearanceNone;
  height: 1.438rem;
  width: 0.625rem;
  background-position: 0% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.Slider-switcher-item {
  @extend %appearanceNone;
  display: block;
  width: 1rem;
  height: 1rem;
  border: 1px solid $black;
  transform: rotate(45deg);
  margin-right: 0.7rem;  
  @media screen and (min-width: $br-point-desktop) {
    margin-right: 1rem;
  }
  &:last-child {
    margin-right: 0;
  }
  &.active {
    background-color: $red;
    border-color: $red;
  }
}

/* PAGES */

.FirstPage {
  .Slider {
    .bg_red {
      display: block;    
      position: absolute;
      top: 3rem;
      z-index: -1;
      width: 100vw;
      height: 11.688rem;
      @media screen and (max-width: $br-point-mobile) {
        left: -0.625rem;
      }
      @media screen and (min-width: $br-point-desktop) {
        top: 4.813rem;
        height: 19rem;
      }
    }
  }
  .Slider-content {
    margin-left: auto;
    margin-right: auto;
    width: calc(100vw - 4.5rem);
    @media screen and (min-width: $br-point-tablet) {
      width: 20rem; 
    }
    @media screen and (min-width: $br-point-desktop) {
      width: 27.938rem; 
    }
  }
}