@import "../../../assets/style/globalPartials/variables.scss";

.Slider {
  width: calc(100vw - 4.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.Slider-item {
  display: none;
  width: 100%;
  height: auto;
  margin-bottom: 34px;

  * {
    display: inherit;
    width: inherit;
    height: inherit;
  }
}

.Slider-item.active {
  display: block;
}

.Slider-switcher {
  width: 100%;
}

.Slider-switcher,
.Slider-switcher-dots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Slider-switcher-arrow,
.Slider-switcher-item {
  border: none;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.Slider-switcher-arrow {
  height: 1.438rem;
  width: 0.625rem;

  svg {
    fill: $black;
  }
}

.Slider-switcher-arrow_left {
  margin-left: 10px;
}

.Slider-switcher-arrow_right {
  margin-right: 10px;
}

.Slider-switcher-item {
  display: block;
  width: 13px;
  height: 13px;
  border: 1px solid $black;
  margin-right: 1rem;
  transform: rotate(45deg);
}

.Slider-switcher-item.active {
  background-color: $red;
  border-color: $red;
}

.Slider-switcher-item:last-child {
  margin-right: 0;
}

/* Tablet */
@media screen and (min-width: $br-point-md) {
  .Slider {
    width: 17.688rem;
    margin: 0;
  }

  .Slider-switcher {
    min-width: 448px;
  }
}

/* Desktop */
@media screen and (min-width: $br-point-lg) {
  .Slider {
    width: 448px;
  }
}
