@import "../../../assets/style/globalPartials/variables.scss";
@import "../../../assets/style/extends/dropdown";

.inputDropdownMenu {
  position: relative;
  width: 100%;
  cursor: pointer;

  .langButton {
    width: 100%;
    border-radius: 0.375rem;
    border: solid 1px $grey1;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1rem;

    svg {
      width: 9px;
      fill: $black;
      stroke: unset;
      stroke-width: unset;
      margin-top: 4px;
    }
  }

  .langButton:hover {
    background-color: $greyBg;
  }

  .langButtonPlaceholder {
    color: $greyDisabledColor;
  }

  .inputDropdownMenuWrapper {
    @extend .dropdownMenuWrapper;
    position: absolute;
    top: 45px;
    min-width: 65px;
    padding: 5px 0;
    list-style: none;
  
    li {
      width: 100%;

      button {
        width: 100%;
        padding: 4px 1rem;
        color: $black !important;
      }
    }
  
    li:hover {
      background-color: $greyBg;
    }
  }
}

.inputDropdownMenuOpened {
  .langButton {
    svg {
      transform: rotate(180deg);
    }
  }
}
