@use "../../../assets/style/globalPartials/variables.scss" as *;
@use "../../../assets/style/mixins/general" as *;
@use "../../../assets/style/mixins/steps" as *;

@include buttons;
@include shippingInstructionBasic;
@include shippingInstructionText;
@include shippingInstructionInput;

.shippingInstructionWrapper {
  .declaration {
    margin: 20px 0 0;
  }

  .declaration.note {
    margin: 0px 0 1rem;
  }

  .note {
    margin-bottom: 6px;
  }
}
