@use "../../../assets/style/globalPartials/variables.scss" as *;

.pointerUpWrapper {
  position: sticky;
  width: 42px;
  height: 42px;
  bottom: 2rem;
  left: calc(100vw - (2rem + 26px));
  z-index: 100;
  background-color: rgba($color: $black, $alpha: 0.5);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  svg {
	  fill: none;
    stroke: $white;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
    width: 1.25rem;
    height: auto;
  }
}

.pointerUpWrapper:hover {
  background-color: rgba($color: $black, $alpha: 0.8);

  svg {
	  stroke: $greyDisabled;
  }
}

@media screen and (min-width: $br-point-md){
  .pointerUpWrapper {
    width: 60px;
    height: 60px;
    bottom: 62px;
    left: calc(100vw - 76px);
  
    svg {
      width: 28px;
    }
  }
}

@media screen and (min-width: $br-point-xl){
  .pointerUpWrapper {
    left: calc(100vw - 124px);
  }
}
