@import "../../assets/style/globalPartials/variables.scss";

.vfm__container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overflow-y: scroll;

  .vfm__content {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border: solid 1px $black;
    width: auto;
    height: auto;

    img {
      max-width: 80vw;
      max-height: 80vh;
      width: auto;
      height: auto;
      object-fit: contain;
    }
  }
}
