.alert {
  padding-top: 1.125rem;
  padding-right: 1.313rem;
  padding-bottom: 1.125rem;
  padding-left: 2.625rem;
  margin-bottom: 1.125rem;
  position: relative;
  border: 1px solid $grey1;
  border-radius: 0.75rem;
}
.alert_icon {
  width: 1.125rem;
  height: 1.125rem;
  display: block;
  position: absolute;
  left: 0.938rem;
  top: 1.375rem;
}
.alert.info {
  border-color: $lime;
}
