@import "./globalPartials/variables.scss";

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select,
textarea {
  padding: 8px;
  width: 100%;
  border-radius: 0.25rem;
  border-color: $grey1;
  border-width: 1px;
  cursor: pointer;
}

input[type="checkbox"] {
  border-color: $inputsBorder;
  border-width: 1px;
  vertical-align: middle;
}

input[type="checkbox"]:checked {
  accent-color: $black;
  color: $white;
}

select {
  appearance: none;
  background-image: url("../media/img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 95% center;
  position: relative;
}

textarea {
  min-height: 5rem;
  overflow-y: auto;
  resize: vertical;
  padding: 4px 10px;
}

input:required,
select:required,
textarea:required,
input.mistake,
select.mistake,
textarea.mistake {
  border-color: $red;
}

input[type=radio] {
  display: flex;
  appearance: none;
  background-color: $white;
  font: inherit;
  color: $red;
  width: 20px;
  height: 20px;
  border: 0.15rem solid $greyButtonHover;
  border-radius: 50%;
}

input[type=radio]:checked {
  outline: none;
}

input[type="radio"]:checked::before {
  margin: auto;
  content: "";
  width: 0.35em;
  height: 0.35em;
  border-radius: 50%;
  background-color: $greyButtonHover;
}

input[type=radio].mistake {
  appearance: none;
  background-color: $white;
  font: inherit;
  color: $red;
  width: 0.813rem;
  height: 0.813rem;
  border: 0.15rem solid $red;
  border-radius: 50%;
  transform: translateY(-0.075em);
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: $greyDisabledColor;
}

input:focus,
select:focus,
textarea:focus {
  outline: $inputsBorderFocus solid 1px;
}

input:focus::placeholder,
select:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

input::placeholder, 
textarea::placeholder {
  font-size: 1rem;
}

@media screen and (min-width: $br-point-lg) {
  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  select {
    padding: 18px;
  }
}
