@import "./globalPartials/variables.scss";
@import "./globalPartials/generalClasses.scss";

.b {
  margin-bottom: 1.5rem;
  * {
    margin-bottom: 0;
  }
}

.form.end {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Desktop */
@media screen and (min-width: $br-point-desktop) {
  .content {
    padding-left: 545px;
  }
}
