@import "globalPartials/variables.scss";
@import "globalPartials/generalClasses.scss";

h1.title {
  font-size: 2.25rem;
}
h2.title {
  font-size: 1.5rem;
}

.Content {
  overflow: hidden;
  min-height: calc(100vh - 33.5rem);
}

.Content a {
  text-decoration: underline;
}

.Title {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 5rem;
  margin-top: 0;
  font-size: 3rem;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: $grey;
  background-image: url(../media/img/bg_title.jpg);
  background-size: cover;
  .content {
    position: relative;
    z-index: 2;
  }
}
.Title::before {
  position: absolute;
  top: 0;
  display: block;
  width: 100vw;
  height: 100%;
  content: '';
  background-color: rgba(255,255,255,85%);
}

.content {
  display: block;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
}

.logo-project {
  .firstSymbol {
    font-family: 'AnticSlab', sans-serif;
    font-size: 1.5rem;
  }
  .text {
    font-family: 'Anton', sans-serif;
    font-size: 1.25rem;
  }
}

.Article,
.FirstPage .Article {
  padding-top: 2.875rem;
  padding-bottom: 2.875rem;
}


@media screen and (max-width: $br-point-tabletUpper) {
  .Article {
    .section {
      margin-bottom: 1rem;
    }
    .section:last-child {
      margin-bottom: 0;
    }
  }
}

/* Desktop */
@media screen and (min-width: $br-point-desktop) {
  .Content {
    min-height: calc(100vh - 32.25rem);
  }

  .content {
    width: 65.625rem;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .Article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .Article > * {
    width: 43.81%;
  }
}
