@import "globalPartials/variables.scss";
@import "globalPartials/generalClasses.scss";

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1.title {
  font-size: 1.5rem;
  margin-bottom: 2.813rem;
}
h2.title {
  font-size: 1.5rem;
}

.alignRight {
  text-align: right;
}

.Content {
  overflow: hidden;
  min-height: calc(100vh - 33.5rem);
  a {
    color: $red;
    font-weight: 600;
  }
  a:hover {
    color: $redHover;
    text-decoration: underline;
    text-decoration-color: $redHover;
    text-decoration-thickness: 1px;
  }
  .button {
    margin-right: 1.125rem;
    margin-bottom: 1rem;
  }
  .button:last-child {
    margin-right: 0;
  }
}

.Title {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 5rem;
  margin-top: 0;
  margin-bottom: 3rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: $greyDisabledBg;
  background-image: url(../media/img/bg_title.jpg);
  background-size: cover;
  .content {
    position: relative;
    z-index: 2;
    font-size: 3rem;
  }
  h1 {
    text-align: center;
    margin-bottom: 0;
  }
}
.Title::before {
  position: absolute;
  top: 0;
  display: block;
  width: 100vw;
  height: 100%;
  content: '';
  background-color: rgba(255,255,255,85%);
}

.content {
  display: block;
  margin-right: 0.625rem;
  margin-left: 0.625rem;
}

.logo-project {
  .firstSymbol {
    font-family: 'AnticSlab', sans-serif;
    font-size: 1.5rem;
  }
  .text {
    font-family: 'Anton', sans-serif;
    font-size: 1.25rem;
  }
}
.vfm__content {
  border-radius: 12px;
}



/* Desktop */
@media screen and (min-width: $br-point-desktop) {
  .Content {
    min-height: calc(100vh - 18.876rem);
  }

  .content {
    width: 69.375rem;
    margin-left: auto !important;
    margin-right: auto !important;
    font-size: 0.875rem;
  }
}
