body {
    font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: $black;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  ul,
  ol {
    margin-bottom: 1em;
  }
  
  p:last-child,
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }