@import "./globalPartials/variables.scss";

.searchWrapper {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.searchMenuWrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  margin-bottom: 1.5rem;
  grid-gap: 10px 1.25rem;
}

.searchInputWrapper {
  position: relative;
}

.search {
  padding-left: 3.375rem !important;
  height: 3.375rem;
  background-color: $greyBg;
}

.search::placeholder {
  font-weight: 600;
  color: $greyDisabled;
}

.searchIcon {
  position: absolute;
  width: 28px;
  fill: $black;
  left: 20px;
  pointer-events: none;
}

.resetBtn {
  width: 100%;
  display: flex;
  padding: 13.5px 17px;
  border: 1px solid $grey;
  border-radius: 6px;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  color: $white;
  font-weight: 600;
}

.resetBtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.resetBtn[disabled] {
  pointer-events: none;
}

.searchResultsWrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem 1.25rem;
}

@media screen and (min-width: $br-point-xs) {
  .searchResultsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: $br-point-md) {
  .searchMenuWrapper {
    grid-gap: 1rem 2rem;
    grid-template-columns: repeat(3, 1fr);

    .searchInputWrapper {
      grid-column: span 3;
    }

    .tagsMenuWrapper,
    .sortMenuWrapper {
      width: auto;
      min-width: unset;
    }
  }

  .searchResultsWrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 2rem;
  }
}

@media screen and (min-width: $br-point-lg) {
  .searchMenuWrapper,
  .searchResultsWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
