@import "./globalPartials/variables.scss";

.searchWrapper {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.searchMenuWrapper {
  position: relative;
}

.search {
  padding-left: 3.375rem !important;
  height: 3.375rem;
  background-color: $greyBg;
}

.search::placeholder {
  font-weight: 600;
  color: $greyDisabled;
}

.searchIcon {
  position: absolute;
  width: 28px;
  fill: $black;
  left: 20px;
  pointer-events: none;
}

.search-btn {
  position: absolute;
  right: 1.125rem;
  top: 1.2rem;
}

.search-btn--img {
  width: 1rem;
  height: 1rem;
}

.searchInputWrapper {
  margin-bottom: 10px;
  width: 100%;
}

.tagsMenusWrapper,
.searchResultsWrapper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1, 1fr);
}

.tagsMenusWrapper {
  margin-bottom: 1.5rem;
  grid-gap: 10px 1.25rem;
}

.searchResultsWrapper {
  grid-gap: 1rem 1.25rem;
}

@media screen and (min-width: $br-point-xs) {
  .searchResultsWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: $br-point-md) {
  .searchInputWrapper,
  .tagsMenusWrapper {
    flex-direction: row;
    margin-bottom: 30px;

    >* {
      margin-bottom: 0;
    }

    .searchInputWrapper {
      width: 100%;
    }

    .tagsMenuWrapper,
    .sortMenuWrapper {
      width: auto;
    }
  }

  .tagsMenusWrapper,
  .searchResultsWrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .tagsMenusWrapper {
    grid-gap: 1rem 2rem;
  }

  .searchResultsWrapper {
    grid-gap: 30px 2rem;
  }
}

@media screen and (min-width: $br-point-lg) {
  .tagsMenusWrapper,
  .searchResultsWrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
