@import "../../../assets/style/globalPartials/variables";

.galleryCaseWrapper {
  .content.galleryCaseContent {
    @media screen and (min-width: $br-point-md) {
      display: grid;
      gap: 1.875rem;
      grid-template-columns: 1fr 1fr;
    }
  }

  .item-margin_bottom {
    margin-bottom: 1.125rem;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  .item-margin_bottom_mini {
    margin-bottom: 0.125rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .Description-item {
    @extend .item-margin_bottom;

    .title {
      margin-bottom: 0;
      font-weight: 600;
    }
  }

  .Description-item_title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 27px 0 14px;
  }

  .Hero-photo {
    width: 10rem;
    height: 10rem;
    border-radius: 0.75rem;
    object-fit: cover;
  }

  .Hero-photoModal {
    margin: 0 1rem 1rem 0;
    border-radius: 6px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: grayscale(100%);
    }
  }

  .ExhibitionList {
    @extend .item-margin_bottom;
  }

  .ExhibitionList-item {
    @extend .item-margin_bottom;
    margin-left: 0;
    list-style: none;
  }

  .ExhibitionListItem-title {
    @extend .item-margin_bottom_mini;
    font-size: 1rem;
    font-weight: 600;
  }

  .ExhibitionListItem-descript {
    @extend .item-margin_bottom_mini;
    padding-left: 1.313rem;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .ExhibitionListItem-descript-icon {
    position: absolute;
    left: 0;
    top: 0.125rem;
    width: 20px;
    height: 24px;
  }

  .swiperDescription {
    margin-top: 18px;
    line-height: 28px;
    display: none;
  }

  h3, p {
    line-height: 24px;
  }

  h3 {
    font-size: 1rem;
    font-weight: 600;
  }

  .galleryCaseSwiperWrapper {
    margin-bottom: 18px;
    padding-bottom: 20px;
    border-bottom: 1px solid $borderLight;
  }

  .galleryCaseSwiper {
    width: 538px;
    height: 575px;

    .swiper-slide {
      height: 538px;
    }

    img {
      border-radius: 0;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .galleryWrapper {
    display: grid;
    max-width: 100%;
    gap: 14px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0;

    img {
      width: 100%;
      height: auto;
      border-radius: 6px;
      cursor: pointer;
    }
  }

  .caseHeaderWrapper {
    margin-bottom: 3px;

    img {
      margin-right: 19px;
    }
  }

  .caseBioWrapper {
    * {
      line-height: 24px;
    }

    div {
      margin-bottom: 10px;
    }
  }

  .additionalInfo {
    svg {
      margin: 5px 0 -5px 7px;
    }
  }

  .exhibitionsWrapper {
    h2 { 
      margin-top: 29px;
    }

    ul {
      margin-top: 18px;
    }
  }

  @media screen and (min-width: $br-point-md) {
    .galleryCaseSwiperWrapper {
      margin-bottom: unset;
      padding-bottom: unset;
      border-bottom: unset;
    }

    .galleryCaseSwiper {
      width: 538px;
      height: 575px;
  
      .swiper-slide {
        height: 538px;
      }

      img {
        border-radius: 12px;
      }
    }

    .swiperDescription {
      display: block;
    }

    .galleryWrapper {
      gap: 18px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
}
