@import "../../assets/style/globalPartials/variables";

.profileContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .userProfile {
    order: 2;
  }

  .embroideryCards {
    order: 1;
  }
}

.userProfile {
  padding: 30px 0 24px;
  background-color: $white;
  border-radius: 6px;
  width: 100%;
  margin: 0 auto 2.5rem;
  border: 1px solid $grey1;
}

.userProfile-header {  
  width: 100%;
  padding-bottom: 14px;
  margin-bottom: 12px;
  border-bottom: 1px solid $borderLight;
}

.userProfile-avatar {
  width: 5rem;
  margin-bottom: 2px;
}

.userProfile-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.userProfile-body {  
  padding: 0 1.5rem;
  margin-bottom: 20px;

  * {
    line-height: 18px;
  }

  h3 {
    font-weight: 600;
    margin-bottom: 8px;
  }
}

.userProfile-buttons {
  width: fit-content;

  .button {
    margin-bottom: 0;
    font-weight: 600;
  }
}

.embroideryCards {
  display: grid;
  max-width: 11.688rem;
  margin: 0 0 3.75rem;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media screen and (min-width: $br-point-sm){
  .embroideryCards {
    max-width: calc(11.688rem * 2 + 22px);
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: $br-point-md){
  .userProfile {
    width: calc(11.688rem * 3 + 22px * 2);
    margin: 0 auto 2.5rem;
  }

  .embroideryCards {
    max-width: calc(190px * 3 + 24px * 2);
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

@media screen and (min-width: $br-point-lg){
  .Content > .content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;

    .userProfile {
      order: 1;
    }
  
    .embroideryCards {
      order: 2;
    }
  }

  .userProfile {
    width: 21.75rem;
    margin: -161px 31px 2.5rem 0;
    position: relative;
  }
}
