@import "../../assets/style/globalPartials/variables";

.Settings {
  background-color: $white;
  max-height: calc(100vh - 3rem);
  overflow-y: auto;
  border-radius: 0.75rem;
}

.Settings-header {
  padding: 22px 2.25rem 18px;
  border-bottom: 1px solid $borderLight;
  align-items: center;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
  }
}

.Settings-item {
  padding: 24px 2.25rem 1.125rem;
}

.Settings-item_reason {
  padding: 12px 2.25rem 1.125rem;
  border-bottom: 1px solid $borderLight;
}

.Settings-item-main {
  display: flex;
  flex-direction: column;
}

.Settings-item-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.Settings-item-publish {
  margin-top: 10px;

  label {
    margin-right: 1.125rem;
    font-size: 0.875rem;
  }

  .switcher {
    background: $borderLight;
    border-radius: 7px;
    width: 2.125rem;
    height: 0.875rem;
    position: relative;
    appearance: none;
  }

  .switcher:after {
    content: '';
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background: $white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -0.188rem;
    left: 0;
    transition-property: left;
    transition-duration: 0.15s;
  }

  .switcher:checked {    
    background: rgba(187, 134, 252, 0.38);
  }
  
  .switcher:checked:after {
    background: $inputsBorderFocus;
    left: 41.18%;
  }
}

@media screen and (min-width: $br-point-tablet) {
  .Settings-body {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .Settings-item_reason,
  .Settings-item_buttons {
    grid-column: span 2;
  }

  .Settings-item_buttons {
    .Settings-item-main {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .button {
        width: 5.625rem;
        width: fit-content;
        margin-bottom: 0;
      }

      .button:first-child {
        margin-right: 1.5rem;
      }
    }
  }

  .Settings-item-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    >div {
      width: calc(50% - 9px);
    }
  }
}

.questionModal {
  textarea {
    min-height: 4rem;
  }
}
.textAreaDescription {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #828282;
}