@import "../../../assets/style/globalPartials/variables";
@import "../../../assets/style/mixins/modal";

.mistakeSearchResultsWrapper {
	padding-top: 22px;
	align-items: center;

	* {
		text-align: center;
	}

	svg {
		margin-bottom: 10px;
	}

	h2 {
    font-family: 'Roboto';
		font-weight: 400;
		margin-bottom: 18px;
	}

	p:last-of-type {
		margin-bottom: 18px;
	}

	a {
		cursor: pointer;
	}
}

.notInDatabaseWrapper {
	p {
		max-width: 360px;
	}
}

.requestModal {
  .inputModalContentWrapper {
  	@include inputModalContentWrapper;
  }

	.inputModalRow {
		textarea {
			min-height: unset;
			height: 7.5rem;
		}
	}

	.inputModalRow:first-child {
		textarea {
			height: 3.5rem;
			width: 100%;
		}
	}
}

.requestModalItemSentWrapper {
  padding: 8px 8px;

  * {
    text-align: center;
  }

  .checkMarkIconWrapper {
    width: 80px;
    height: 80px;
  }

  h2 {
    font-family: 'Roboto';
    margin-top: 20px;
		font-weight: 400;
  }

  span {
    font-size: 14px;
    margin-top: 16px;
		max-width: 550px;
  }
}

@media screen and (min-width: $br-point-md) {
	.requestModal {
		.inputModalRow:first-child {
			textarea {
				min-height: unset;
				height: 3.5rem;
				width: 80%;
			}
		}
	}
}
