@import "../globalPartials/variables";

@mixin inputModalContentWrapper {
  background-color: $white;
  overflow-y: auto;
  border-radius: 0.75rem;
  max-width: 720px;
  width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
}
