@import "../../../assets/style/globalPartials/variables.scss";

.Info,
.Info-project,
.Info-menu,
.Info-menu-group {
  display: flex;
  flex-direction: column;
}

.Info-menu-item {
  margin-bottom: 0;
}

.helpButton {
  margin: 0 auto 10px !important;
  
  svg {
    fill: none;
  }
}

.mainFooterWrapper {
  position: relative;
  
  .bg_black {
    padding-top: 1.5rem;
    padding-bottom: 1.75rem;
    a {
      color: $white;
    }
    a:hover {
      color: $redHover;
    }
  }

  .mainLogoWrapper .text {
    font-size: 1.5rem;
    margin-left: 0.0625rem;
  }
}

.Info-project > a,
.Info-menu-item {
  width: fit-content;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  font-weight: 600;
}

.Info-Project-social {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-top: 0.375rem;

  a {
    margin: 0 0.375rem;
    width: 2rem;
    height: 2rem;
    display: block;
  }

  a:last-child {
    margin-right: 0;
  }

  svg {
    fill: none;
  }
}

.Info-menu {
  >.Info-menu-group:nth-child(1) {
    flex-direction: column !important;
  }
}

.subscribeWrapper {
  margin-top: 0;
  margin-bottom: 32px;
  align-items: center;

  * {
    color: $white;
  }

  >div {
    width: 100%;
    max-width: 308px;
    margin-right: unset;
    margin-bottom: 20px;

    >div {
      margin-bottom: 10px;
    }
  }

  input, .languageDropdown > .dropdownButton {
    border: solid 1px $greyLight;
    border-radius: 4px;
    background-color: $black;
  }

  input {
    height: 40px;
    padding: 0 1rem;
  }

  .languageDropdown > .dropdownButton {
    height: auto;
    padding: 0.45rem 1rem;
    color: $white;

    svg {
      fill: $white;
    }
  }

  input::placeholder {
    color: $white;
  }

  span {
    color: $red;
  }

  button {
    border: solid 1px $greyLight;
    height: 40px;
    color: $white;
  }

  .languageDropdown {
    button {
      border: none;
    }
  }
}

/* Mobile */
@media screen and (max-width: $br-point-md) {
  .Info-project {
    margin-bottom: 1.625rem;
  }

  .Info-project > a,
  .Info-Project-social,
  .Info-menu-item {
    margin-right: auto;
    margin-left: auto;
  }
}

/* Tablet */
@media screen and (min-width: $br-point-md) {
  .Info,
  .Info-menu-group {
    flex-direction: row;
  }

  .Info-menu-group {
    margin-top: 0.5rem;
  }

  .Info-menu-group:last-child {
    margin-top: 0.25rem;
  }

  .Info,
  .Info-menu > .Info-menu-group:first-child,
  .Info-menu > .Info-menu-group > .Info-menu-group:first-child {
    justify-content: space-between;
  }

  .Info-menu {
    width: calc(100% - 18rem);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .Info-menu-item {
    margin-right: 2.25rem;
  }

  .Info-menu-item:last-child
  {
    margin-right: 0;
  }

  .helpButton {
    margin: 0 20px 0 0 !important;
  }

  .subscribeWrapper {
    flex-direction: row;
    align-items: flex-start;
    
    div {
      margin-right: 16px;
    }

    input {
      margin-bottom: 0;
    }
  }
}

.Info,
.Info-project,
.Info-menu,
.Info-menu-group {
  display: flex;
  flex-direction: column;
}

.Info-menu-item {
  margin-bottom: 0;
}

.mainFooterWrapper {
  .bg_black {
    padding-top: 1.5rem;
    padding-bottom: 1.75rem;

    a {
      color: $white;
    }
    
    a:hover {
      color: $redHover;
    }
  }

  .mainLogoWrapper .text {
    font-size: 1.5rem;
    margin-left: 0.0625rem;
  }
}

.Info-project > a,
.Info-menu-item {
  width: fit-content;
  margin-bottom: 24px;
  font-size: 14px;
  white-space: nowrap;
  font-weight: 600;
}

.Info-Project-social {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-top: 0.375rem;

  a {
    margin: 0 0.375rem;
    width: 2rem;
    height: 2rem;
    display: block;
  }
  a:last-child {
    margin-right: 0;
  }
}

.footerLinksWrapper {
  .Info-menu-item {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: $br-point-md) {
  .Info,
  .Info-menu-group {
    flex-direction: row;
  }

  .Info-menu-group {
    margin-top: 0.5rem;
  }

  .Info-menu-group:last-child {
    margin-top: 0.25rem;
  }

  .Info,
  .Info-menu > .Info-menu-group:first-child,
  .Info-menu > .Info-menu-group > .Info-menu-group:first-child {
    justify-content: space-between;
  }

  .Info-menu {
    width: calc(100% - 18rem);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .Info-menu-item {
    margin-right: 2.25rem;
  }

  .Info-menu-item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: $br-point-lg) {
  .subscribeWrapper {
    div {
      min-width: 308px;
    }
  }
}

.Info-menu-item.profileLink {
  margin-right: 14px;
  background-color: $greyBg;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  img {
    width: 26px;
    height: auto;
  }
}

.profileButton {
  width: max-content;
  justify-content: start;

  div {
    border-radius: 50%;
    background-color: $white;
    width: 55px;
    height: 55px;
  }

  img {
    width: 48px;
    height: auto;
    object-fit: cover;
  }

  span {
    margin-left: 18px;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
  }
}

.profileModalFooter {
  top: unset;
  bottom: 150px;
}

@media screen and (min-width: $br-point-md) {
  .profileButton {
    justify-content: flex-end;

    div {
      width: 30px;
      height: 30px;
    }

    img {
      width: 26px;
    }
  }

  .footerLinksWrapper {
    .Info-menu-item {
      margin-bottom: 0.5rem;
    }
  }
}
