@import "../../../assets/style/globalPartials/variables.scss";

.Info,
.Info-project,
.Info-menu,
.Info-menu-group {
  display: flex;
  flex-direction: column;
}
.Info-menu-item {
  margin-bottom: 0;
}
.Footer {
  margin-top: 3.688rem;
  .bg_black {
    padding-top: 1.813rem;
    padding-bottom: 1.813rem;
    a {
      color: $white;
    }
    a:hover {
      color: $redHover;
    }
  }
}
.Info-project > a,
.Info-menu-item {
  width: fit-content;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.Info-Project-social {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  a {
    margin-right: 0.375rem;
    width: 2rem;
    height: 2rem;
    display: block;
  }
  a:last-child {
    margin-right: 0;
  }
}

/* Mobile */
@media screen and (max-width: $br-point-mobile) {
  .Info-project {
    margin-bottom: 1.625rem;
  }
  .Info-project > a,
  .Info-Project-social,
  .Info-menu-item {
    margin-right: auto;
    margin-left: auto;
  }
}

/* Tablet */
@media screen and (min-width: $br-point-tablet) {
  .Info,
  .Info-menu-group {
    flex-direction: row;
  }
  .Info,
  .Info-menu > .Info-menu-group:first-child,
  .Info-menu > .Info-menu-group > .Info-menu-group:first-child {
    justify-content: space-between;
  }
  .Info-menu {
    width: calc(100% - 16.563rem);
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .Info-menu-item {
    margin-right: 2.25rem;
  }
  .Info-menu-item:last-child
  {
    margin-right: 0;
  }
}