@import "../assets/style/globalPartials/variables.scss";

.FirstPage {
  // padding-bottom: 2.688rem;
  padding-bottom: 0;

  > .content {
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3.75rem;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
  }

  .bg_grey2 .content {
    padding-top: 30px;
    padding-bottom: 72px;

    p {
      margin-bottom: 24px;
    }
  }
}

.ProjectDescr {
  margin-bottom: 65px;

  .mainLogoWrapper {
    margin-bottom: 0.5rem;

    .firstSymbol {
      fill: $black;
    }

    .text {
      font-size: 2.375rem;
    }
  }

  .subtitle {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    max-width: 78%;
  }

  .button {
    width: 100%;
    margin: 0;
  }
}

.swiperWrapper {
  position: relative;

  .bg_red {
    position: absolute;
    top: 78px;
    left: -92px;
    z-index: -1;
    width: 100vw;
    height: 11.688rem;
  }
}

.FirstPage > .content.Partners,
.Partners-group {
  display: flex;
  flex-direction: column;
}

.Partners-group {
  align-items: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.FirstPage > .content.Partners {
  margin-bottom: 0;
  padding-top: 2.5rem;
  padding-bottom: 0;
}

.Partners-logo {
  page-break-inside: avoid;
  width: 50%;
  margin: 10px 0;

  .img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 120px;
    height: auto;
  }
}

.Partners-logo:last-child {
  margin-bottom: 0;
}

/* Tablet */
@media screen and (min-width: $br-point-md) {
  .FirstPage {
    > .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  .ProjectDescr {
    width: 50%;
    padding-right: 2.5rem;
  }

  .swiperWrapper {
    width: 50%;
    margin-right: auto;
    margin-left: 24px;
  }

  .Partners-group {
    flex-direction: row;
  }

  .Partners-group {
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
    width: 92%;
  }

  .Partners-group:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: $br-point-lg) {
  .FirstPage .bg_grey2 .content {
    .section {
      margin-bottom: 1rem;
    }

    .section:last-child {
      margin-bottom: 0;
    }
  }
}

/* Desktop */
@media screen and (min-width: $br-point-lg) {
  .ProjectDescr {
    .mainLogoWrapper {
      margin-top: 10px;

      .text {
        font-size: 3rem;
      }
    }

    .button {
      width: auto;
    }
  }

  .swiperWrapper {
    .bg_red {
      height: 19rem;
    }
  }

  .FirstPage .bg_grey2 .content {
    width: 922px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem;
  }

  .Partners-logo {
    width: auto;
    margin: 0;
  }
}

.pashtovakLogo {
  img {
    width: 75px !important;
  }
}

.Partners {
  display: none !important;
}
