@import "../assets/style/globalPartials/variables.scss";

.FirstPage {
  // padding-bottom: 2.688rem;
  padding-bottom: 0;

  > .content {
    flex-direction: column;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
  }

  .projectDescriptionWrapper {
    .content {
      padding-top: 30px;
      padding-bottom: 24px;

      p {
        margin-bottom: 24px;
      }
    }
  }
}

.ProjectDescr {
  margin-bottom: 30px;

  .mainLogoWrapper {
    margin-bottom: 0.5rem;

    .firstSymbol {
      fill: $black;
    }

    .text {
      font-size: 2.375rem;
    }
  }

  .subtitle {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }

  .supportButton {
    border: 2px solid $black;
  }
}

.swiperWrapper {
  position: relative;

  .bg_red {
    position: absolute;
    top: 78px;
    left: -92px;
    z-index: -1;
    width: 100vw;
    height: 11.688rem;
  }
}

.FirstPage > .content.Partners {
  margin-bottom: 0;
  padding-top: 50px;
  padding-bottom: 22px;
}

.FirstPage > .content.Partners .Partners-group {
  width: 100%;
}

.Partners-logo {
  page-break-inside: avoid;
  margin: 20px auto;

  .img {
    filter: grayscale(100%);
    width: auto;
    height: 72px;
  }

  .forumCiv {
    height: 36px;
  }
}

.Partners-logo:nth-child(1) {
  .img {
    height: 62px;
  }
}

.Partners-logo:nth-child(2) {
  .img {
    height: 72px;
  }
}

.Partners-logo:nth-child(3) {
  .img {
    height: 96px;
  }
}

/* Tablet */
@media screen and (min-width: $br-point-md) {
  .FirstPage {
    > .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-top: 42px;
    }
  }

  .ProjectDescr {
    width: 50%;
    padding-right: 2.5rem;

    .subtitle {
      max-width: 78%;
    }
  }

  .swiperWrapper {
    width: 50%;
    margin-right: auto;
    margin-left: 24px;
  }

  .Partners-group {
    flex-direction: row;
    margin-bottom: 1.5rem;
    width: 92%;
  }

  .Partners-group:last-child {
    margin-bottom: 0;
  }
}

/* Desktop */
@media screen and (min-width: $br-point-lg) {
  .ProjectDescr {
    margin-bottom: 65px;

    .mainLogoWrapper {
      margin-top: 10px;

      .text {
        font-size: 3rem;
      }
    }
  }

  .swiperWrapper {
    .bg_red {
      height: 19rem;
    }
  }

  .FirstPage .projectDescriptionWrapper .content {
    width: 922px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem;
  }

  .FirstPage > .content.Partners {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .Partners-logo {
    margin: 10px 28px;
  }
}
