@import "../../assets/style/globalPartials/variables.scss";
@import "../../assets/style/mixins/general";

.verifyEmailWrapper {
  main {
    min-height: calc(100vh - 70px);
  }

  @include buttons;
    
  .content {
    max-width: 320px;
  }

  .mainMenuWrapperRegistration .content {
    padding-left: unset;
  }

  .Embroiderer {
    background-color: #FFF3F1;
    width: 282px;
    height: 274px;
    border-radius: 12px;

    img { 
      width: 198px;
      height: auto;
      margin-left: 14px;
    }
  }

  * {
    text-align: center;
  }

  h1 {
    margin-top: 34px;
    font-size: 23px;
  }

  p {
    max-width: 374px;
    margin-top: 14px;
    font-size: 14px;
    line-height: 22px;
  }

  input {
    margin-top: 24px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  input[type=number] {
    margin-top: 12px;
    appearance: textfield;
  }

  button {
    width: 100% !important;
  }
}
