@import "../../../assets/style/globalPartials/variables.scss";

.cookieBarWrapper {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 260px;
  background-color: $greyTransparentBG;

  * {
    color: $white !important;
    font-size: 1rem;
    line-height: 24px;
    font-weight: 600;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-direction: column;
      width: 100%;

      .button {
        width: 100%;
        padding: 6px 27px;
        border: 2px solid $white;
        border-radius: 6px;
        margin: 10px 0;
      }
    }
  }

  p {
    max-width: 650px;
    margin: 0;
  }

  .button:hover {
    color: $black;
    background-color: $white;
  }
}

@media screen and (min-width: $br-point-lg) {
  .cookieBarWrapper {
    height: 120px;
    justify-content: center;
    align-items: center;
  
    .content {
      flex-direction: row;
  
      div {
        flex-direction: row;
        width: auto;

        .button {
          margin: 0 0 0 13px;
          width: auto;
        }
      }
    }
  }
}
