@import "../../assets/style/globalPartials/variables.scss";
@import "../../assets/style/mixins/sign";

.signInWrapper {
  @include signTitle;

  .signUpLink {
    font-weight: 600;
    font-size: 1rem;
  }

  input::placeholder {
    font-size: 1rem;
  }

  .lostPasswordLink {
    font-size: 0.75rem;
    margin-bottom: 0;
  
    a {
      color: inherit;
      font-weight: normal;
    }
  }
}
