@import "../../../assets/style/globalPartials/variables.scss";

.langMenu {
  top: 40px;

  >* {
    width: 100%;
    border-bottom: 1px solid $greyBg;
    padding: 2px 4px;
    color: $black !important;
  }

  >*:hover {
    background-color: $greyBg;
  }

  >*:last-child {
    border-bottom: none;
  }
}

@media screen and (min-width: $br-point-md) {
  .langButton {
    svg {
      width: 9px;
      fill: none;
      stroke: $white;
      stroke-width: 2px;
      margin-top: 4px;
      margin-left: 3px;
    }
  }
}
