@import "../../../assets/style/globalPartials/variables";
@import "../../../assets/style/steps";

.congratulation,
.choosePackageFrom-option,
.instruction {
  border: 1px solid $borderLight;
  border-radius: 0.75rem;
}
.congratulation,
.instruction {
  padding: 1.5rem;
}

.congratulation {
  text-align: center;
  .title {
    margin-bottom: 0.375rem;
  }
}
.choosePackageFrom {
  .title {
    font-weight: 600;
  }
}
.choosePackageFrom-option {
  padding: 0.563rem 1.5rem;
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.choosePackageFrom-option-input {
  margin-right: 1.125rem;
}
.instruction {
  font-size: 0.875rem;
  > * {
    margin-bottom: 0.75rem;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  .title {
    font-size: 0.875rem;
    font-weight: 600;
  }
  .title.important {
    font-size: 1rem;
  }
  .title.address {
    margin-bottom: 0;
  }
  .part {
    .title,
    p {
      margin-bottom: 0.563rem;
    }
  }
}
.instruction-label {
  margin-bottom: 0;
  display: block;
}
.instruction-input {
  margin-bottom: 1.5rem;
  padding: 0.438rem 1rem;
}
.instruction-input-hasNote {
  margin-bottom: 0;
}

.instruction.default {
  display: flex;  
}
.instruction_default-content {
  margin: auto;
  padding-top: 17.063rem;
  padding-bottom: 2.5rem;
  width: 64.35%;
  background-image: url(../../../assets/media/img/bgChoose.svg);
  background-size: 16.688rem;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  text-align: center;
}
.note {
  margin-left: 1.188rem;
}

@media screen and (max-width: $br-point-md) {
  .congratulation,
  .choosePackageFrom,
  .instruction {    
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: $br-point-md) {
  .Shipping {
    display: grid;
    grid-template-areas: "congratulation congratulation"
                         "select instruction"
                         "buttons buttons";
    row-gap: 1.5rem;
    column-gap: 2.625rem;
    grid-template-columns: 40% 1fr;
  }
  .congratulation {
    grid-column: span 2;
    grid-area: congratulation;
  }
  .choosePackageFrom {
    grid-area: select;
  }
  .instruction {
    grid-area: instruction;
  }
  .buttons {
    margin-top: 0;
    grid-column: span 2;
    grid-area: buttons;
  }
}