@use "../../../assets/style/globalPartials/variables.scss" as *;
@use "../../../assets/style/mixins/switcher" as *;

.cookiePreferencesModalItem {
  @include switcher;
  
  width: 100%;
  border: 1px solid $black;
  border-radius: 1rem;
  padding: 20px 16px;

  >div {
    width: 100%;
    justify-content: flex-start;
    margin: unset;
  }

  button {
    width: 20px;
    margin-left: 6px;
    margin-right: 10px;

    svg {
      fill: $greyDark;
    }
  }

  label {
    font-size: 20px;
  }

  input {
    margin-left: auto;
  }

  .description {
    border-top: 1px solid $black;
    margin-top: 14px;
    padding-top: 8px;
    font-size: 20px;
  }
}
