@import "../../../assets/style/globalPartials/variables.scss";

%hidden {
  display: none;
  height: 0;
  overflow: hidden;
}

.Burger-button {
  display: block;
  width: 1.5rem;
  height: 1.375rem;
  cursor: pointer;
  @media screen and (min-width: $br-point-tablet) {
    display: none;
  }
}
.Burger-button__item {
  display: inherit;
  width: 1.5rem;
  height: 4px;
  margin-bottom: 5px;
  background-color: $white;
  overflow: hidden;
  &:last-child {
  margin-bottom: 0;
  }
}
.Burger-menu {
  display: none;
  @media screen and (min-width: $br-point-tablet) {
    display: flex;
    flex-direction: row;
    & > * {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @media screen and (min-width: $br-point-desktop) {
    justify-content: space-between;
    width: calc(100% - 14rem);
  }
}

.Burger-menu-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: $br-point-tablet) {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
      margin-bottom: auto;
    }
  }
  @media screen and (min-width: $br-point-desktop) {
    align-items: baseline;
  }
}

.Burger-menu__item {
  width: fit-content;
  margin-bottom: 0.8rem;
  font-size: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
  &.button {
    color: $white !important;
  }
  @media screen and (min-width: $br-point-tablet) {    
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    color: $white;
    &:last-child {
      margin-bottom: auto;
      margin-right: 0;
    }
    &:hover {
      color: $redHover;
    }
  }
}

.Burger-button_close {
  position: absolute;
  z-index: 5;
  top: 0.625rem;
  right: 0.625rem;
}
.Burger-button_close__item {
  color: $black;
  background-color: $black;
  transition-property: transform;
  transition-duration: 0.15s;
  position: relative;
  &:nth-child(1) {
    transform: rotate(45deg);
    top: 0.563rem;
  }
  &:nth-child(2) {
    display: none;
  }
  &:nth-child(3) {
    transform: rotate(-45deg);
  }
}
.Burger-menu_open {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-top: 0.313rem;
  padding-right: 0.625rem;
  padding-bottom: 0.313rem;
  padding-left: 0.625rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background: $white;
}
.Burger-menu_open__item {
  color: $black;
  position: relative;
  z-index: 4;
}
@media screen and (max-width: $br-point-mobile) {
  .showOnlyHeader {
    height: 100vh;
    overflow: hidden;
    .Content,
    .Footer {
      display: none;
    }
  }
}