@import "../../../assets/style/globalPartials/variables.scss";

%details {
  position: relative;
  display: inline-block;
}
%select {
  @media screen and (max-width: $br-point-mobile) {
    display: flex;
    flex-direction: column;
    &[hidden] {
      display: none;
    }
  }
  @media screen and (min-width: $br-point-tablet) {        
    padding: 0.375rem 1rem;
    right: -2.813rem;
    position: absolute;
    z-index: 5;
    background-color: $white;
    border-radius: 0.375rem;
    box-shadow: $defaultShadow;
  }
}
%selectItem {
  color: $black;
  line-height: 1.5rem;
  white-space: nowrap;
  @media screen and (max-width: $br-point-mobile) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  @media screen and (min-width: $br-point-tablet) {
    margin-bottom: 12px;
    display: block;
    font-size: 0.875rem;
    &:last-item {
      margin-bottom: 0;
    }
  }
}
%UserSelect__item_showed {
  display: block;
  padding: 0.25rem 0.75rem;
  position: absolute;
  font-size: 0.75rem;
  color: $white;
  white-space: nowrap;
  background-color: $bgHint;
  border-radius: 0.25rem;
}

.Lang {
  @extend %details;
}
.LangButton {
  color: inherit;
  font-size: inherit;
  .arrow {
    position: relative;
    top: -0.1rem;
    margin-left: 0.2rem;
    transition-property: transform;
    transition-duration: 0.15s;
    @media screen and (max-width: $br-point-mobile) {
      transform: rotate(270deg);
    }
    @media screen and (min-width: $br-point-tablet) {
      transform: rotate(0deg);
    }
  }
}
.LangButton_open {
  .arrow {
    @media screen and (max-width: $br-point-mobile) {
      transform: rotate(90deg);
    }
    @media screen and (min-width: $br-point-tablet) {          
      transform: rotate(180deg);
    }
  }
}
.LangSelect {
  @extend %select;
  @media screen and (max-width: $br-point-mobile) {  
    top: -0.5rem;
    left: 2rem;
  }
  @media screen and (min-width: $br-point-tablet) {
    top: 2.875rem;
    right: 0;
  }
  .select-item {
    @extend %selectItem;
    @media screen and (max-width: $br-point-mobile) {
      // padding-left: 0.5rem;
      display: inline-block;
    }
  }
}

.User {
  @extend %details;  
  @media screen and (min-width: $br-point-tablet) {
    align-self: center;
    width: 1.875rem;
    height: 1.875rem;
  }
}
.User-button {
  position: relative;
  font-size: inherit;
  @media screen and (min-width: $br-point-tablet) {
    width: 1.875rem;
    height: 1.875rem;    
    .iconMessage {
      width: 0.75rem;
      height: 0.75rem;
      display: block;
      position: relative;
      top: -1rem;
      left: 1.375rem;
      border: 1px solid $white;
      border-radius: 50%;
      background-color: $orange;
    }
  }
}
.UserButton-icon {
  @media screen and (max-width: $br-point-mobile) {
    display: none;
  }
  @media screen and (min-width: $br-point-tablet) {
    width: 1.875rem;
    height: 1.875rem;
  }
}
.UserButton-text {
  @media screen and (min-width: $br-point-tablet) {
    display: none;
  }
}
.UserButton-text_showed {
  @extend %UserSelect__item_showed;
  top: 3.063rem;
  right: -0.938rem;
  display: block;
}
.iconMessage {
  position: relative;
}
.iconMessage-text {
  @media screen and (max-width: $br-point-mobile) {
    margin-left: 1rem;
    color: $orange;
    white-space: normal;
  }
  @media screen and (min-width: $br-point-tablet) {
    display: none;
  }
}
.iconMessage-text_showed {
  @extend %UserSelect__item_showed;
  display: block;
  top: 1.813rem;
  right: -2.813rem;
}
.iconMessage-icon {
  @media screen and (max-width: $br-point-mobile) {
    display: none;
  }
  @media screen and (min-width: $br-point-tablet) {
    width: 0.938rem;
    height: 0.938rem;
    vertical-align: middle;
  }
}

.UserSelect {
  @extend %select;

  @media screen and (min-width: $br-point-tablet) {
    top: 3.063rem;
    right: -2.813rem;
  }
}
.UserSelect-item {
  @extend %selectItem;
}
.UserSelect-item_avatar {
  @media screen and (max-width: $br-point-mobile) {
    display: none;
  }
  @media screen and (min-width: $br-point-tablet) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
  }
}
.UserSelect-item_title {
  font-size: 1.25rem;
  font-weight: 500;
}