@import "../../../assets/style/globalPartials/variables.scss";
@import "./Burger.scss";
@import "./Details.scss";

.Header {
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
  background-color: $black;
  color: $white;
  font-size: 1rem;
  @media screen and (min-width: $br-point-tablet) {
    padding-top: 0;
    padding-bottom: 0;
  }
  @media screen and (min-width: $br-point-desktop) {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
  .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    & > * {
    margin-top: auto;
    margin-bottom: auto;
    }
  }
  .logo-project {
    color: $white;
    line-height: 160%;
  }
}