@import "../../../assets/style/globalPartials/variables.scss";
@import "../../../assets/style/dropdown.scss";

.mainMenuWrapper {
  position: fixed;
  width: 100vw;
  min-height: 46px;
  z-index: 200;
  background-color: $black;
  color: $white;
  font-size: 1rem;

  .content {
    width: 100%;
    height: 46px;

    >* {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  .menuButton {
    display: flex;

    >div {
      div {
        background-color: $white;
      }
    }
  }

  .mainMenuTopWrapper {
    height: 100%;
  }

  .mainLogoWrapper {
    color: $white;
    line-height: 160%;
    white-space: nowrap;
    margin-top: 3px;
  }

  .menuContentWrapper, .langMenuWrapper {
    * {
      color: $white;
      font-size: 1rem;
      font-weight: 600;
    }
  }

  .langMenuWrapper {
    .langMenu {
      color: $black;
    }
  }

  .menuLinksWrapper,
  .menuUserLinksWrapper {
    >*:hover {
      color: $red;
    }
  }

  .menuLinksWrapper {
    order: 2;
    padding: 0 24px 4px;
    border-bottom: 0.5px solid $greyDisabledBg;
    width: 100%;

    >* {
      margin: 15px 0;
    }
  }

  .menuUserLinksWrapper {
    order: 1;
    width: 100%;
    padding: 12px 23px;
    align-items: center;
    border-bottom: 0.5px solid $greyDisabledBg;
  }

  .langMenuWrapper {
    order: 3;
    padding: 14px 24px;
    position: relative;

    .langButton svg{
      width: 1rem;
      height: 1rem;
      margin-left: 15px;
      stroke-width: 2px;
      stroke-linecap: round;
    }

    .dropdownMenuWrapper {
      position: absolute;
    }
  }

  .profileButton {
    width: 100%;
    justify-content: start;

    div {
      border-radius: 50%;
      background-color: $white;
      width: 55px;
      height: 55px;
    }

    img {
      width: 48px;
      height: auto;
      object-fit: cover;
    }

    span {
      margin-left: 18px;
      font-family: 'Roboto';
      font-size: 20px;
      font-weight: 500;
    }
  }

  .langMenuWrapper {
    svg {
      fill: none;
    }
  }

  .participateButtonMobile {
    order: 4;
    margin: 14px auto 0;
    width: calc(100% - 45px);
  }
}

.mainMenuWrapperOpened {
  z-index: 200;

  .mainMenuTopWrapper {
    justify-content: space-between;
    width: 290px;
    background-color: $greyDark3;
    border-bottom: 0.5px solid $greyDisabledBg;
  }

  .menuButton {
    order: 2;
    margin-right: 23px;

    >div {
      position: relative;
      width: 1rem;
      height: 1rem;

      div {
        position: absolute;
        top: 0;
        width: 1.2rem;
        height: 2px;
        margin-top: 7px;
      }

      div:nth-child(1) {
        transform: rotate(45deg);
        transform-origin: center;
      }

      div:nth-child(2) {
        transform: rotate(-45deg);
        transform-origin: center;
      }
    }
  }

  .mainLogoWrapper {
    order: 1;
    margin-left: 24px;
  }

  .menuContentWrapper {
    display: flex;    
    position: fixed;
    left: 0;
    top: 46px;
    height: calc(100vh - 37px);

    .menuContentBackground {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 201;
      display: flex;    
      background-color: $greyTransparentBG;
      width: 100vw;
      height: calc(100vh - 37px);
    }

    .menuAllLinksWrapper {
      position: relative;
      z-index: 202;
      background-color: $greyDark3;
      width: 290px;
      height: 100%;
    }
  }

  .langMenuWrapper {
    svg {
      stroke: $white;
    }
  }
}

.mainMenuWrapperClosed {
  .mainMenuTopWrapper {
    width: calc(100% - 34px);
  }

  .menuButton {
    order: 1;
    margin-left: 10px;

    >div {
      width: 24px;

      div {
        margin: 2px auto;
        width: 24px;
        height: 4px;
      }
    }
  }
  
  .mainLogoWrapper {
    order: 2;
    margin: 3px auto 0;
  }
}

.mainMenuWrapper .helpButtonDesktop,
.mainMenuWrapperClosed .menuContentWrapper,
.mainMenuWrapperOpened.mainMenuWrapperNotLogged .menuUserLinksWrapper {
  display: none;
}

@media screen and (min-width: $br-point-md) {
  .mainMenuWrapper {
    position: static;
    padding: 12px 0 10px;
    min-height: 3.75rem;
    padding-top: 0.313rem;
    padding-bottom: 0.313rem;

    .menuButton, 
    .menuContentBackground, 
    .signInMobile, 
    .helpButtonMobile, 
    .participateButtonMobile,
    .profileButton span,
    .signOutMobile {
      display: none;
    }

    .content {
      width: calc(100vw - 2rem);
    }
    
    .mainMenuTopWrapper {
      width: auto;
    }

    .mainLogoWrapper {
      order: 1;
    }

    .mainMenuWrapperClosed {
      .menuContentWrapper {
        display: block;
      }
    }

    .menuContentWrapper {
      order: 2;
      top: 60px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-left: 26px;

    }

    .menuAllLinksWrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-right: 7px;
    }
    
    .menuLinksWrapper {
      order: 1;
      flex-direction: row;
      align-items: center;
      padding: 0;
      border: unset;
      margin: -2px 0 0;

      >* {
        margin: 0;
        margin-right: 26px;
        text-wrap: nowrap;
      }
    }

    .menuUserLinksWrapper {
      order: 2;
      margin-left: auto;
      padding: 0;
      border: unset;
      justify-content: flex-end;
      width: auto;

      >* {
        margin-right: 24px;
        text-wrap: nowrap;
      }

      .participateButton {
        padding: 8px 13px;
      }
    }

    .langMenuWrapper {
      padding: 0;
  
      .langButton svg{
        width: 9px;
        height: 9px;
        margin-left: 3px;
      }

      .langMenu {
        top: 30px;
      }
    }

    .helpButtonDesktop {
      display: inline-flex;

      svg {
        fill: none;
      }
    }

    .profileButton {
      justify-content: flex-end;

      div {
        width: 30px;
        height: 30px;
      }

      img {
        width: 26px;
      }
    }
  }
}

@media screen and (min-width: $br-point-lg) {
  .mainMenuWrapper {
    .content {
      width: 69.375rem;
    }
  }
}
