@import "../../assets/style/globalPartials/variables.scss";

.NotFound {
  * {
    text-align: center;
  }

  .notFoundIcon {
    font-family: 'Roboto';
    font-size: 64px;
    color: $grey;
  }

  .title {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 400;
    margin-top: 6px;
    margin-bottom: 18px;
  }

  .description {
    margin-bottom: 20px;
  }
}
