@import "../../../assets/style/globalPartials/variables.scss";

.notificationModal {
  width: 100%;
  max-width: calc(100vw - 2rem);
  min-height: 50px;
  align-items: center;
  border-radius: 6px;
  padding: 4px 26px;
  margin-bottom: 24px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);

  svg {
    width: 30px;
    margin-right: 18px;
  }
}

.notificationModalQuestion {
  background-color: lighten($question, 48%);

  svg {
    fill: $question;
  }
}

.notificationModalWarning {
  background-color: lighten($warning, 54%);

  svg {
    width: 20px;

    path:first-child {
      fill: $warning;
    }
  }
}
