@import "../../assets/style/globalPartials/variables";

.Settings {
  background-color: $white;
  position: relative;
  top: 3rem;
  max-height: calc(100vh - 3rem);
  overflow-y: auto;
}
.Settings-header {
  padding-top: 1.625rem;
  padding-right: 2.25rem;
  padding-bottom: 1.25rem;
  padding-left: 2.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $borderLight;
}
.Settings-item {  
  padding-top: 1.125rem;
  padding-right: 2.25rem;
  padding-bottom: 1.125rem;
  padding-left: 2.25rem;
  border-bottom: 1px solid $borderLight;
}
.Settings-item-main {
  display: flex;
  flex-direction: column;
}