@import "../../assets/style/globalPartials/variables";
@import "./NavSteps";
@import "./Hero";

.Title {
  padding: 3.125rem 0;
  .subtitle {
    display: block;
    font-size: 1.5rem;
  }
}

.buttons {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  .button {
    margin-right: 4.5rem;
  }
  .button:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: $br-point-desktop) {
  .textWidth {
    margin-left: auto;
    margin-right: auto;
    width: 57.063rem;
  }
}