@use "../../../assets/style/globalPartials/variables.scss" as *;
@use "../../../assets/style/mixins/modal" as *;

.cookieBarWrapper {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: $greyTransparentBG;
  padding: 26px 36px;

  * {
    color: $white;
    font-size: 1rem;
    font-weight: 600;
  }

  p {
    margin: 0 0 30px;
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .button {
      width: 100%;
      padding: 6px 27px;
      border: 2px solid $white;
      border-radius: 6px;
      margin: 10px 0;
    }

    .button:nth-child(1) {
      margin-top: 0;
    }

    .button:last-child {
      margin-bottom: 0;
    }
  }

  .button:hover {
    color: $black;
    background-color: $white;
  }
}

.cookiePreferencesModal {
  .inputModalContentWrapper {
  	@include inputModalContentWrapper;
  }

  .cookiePreferencesModalBody {
    padding: 18px 24px;
  }

  .cookieDetailsLinkWrapper {
    font-size: 20px;
    padding: 0;
    margin-bottom: 16px;

    a {
      font-weight: 600;
    }

    a:hover {
      color: $red;
    }
  }

  .cookiePreferencesModalItem {
    margin-bottom: 16px;
  }

  .inputModalFooter {
    border: none;
  }
}

@media screen and (min-width: $br-point-md) {
  .cookieBarWrapper {
    div {
      flex-direction: row;
      width: auto;

      .button {
        margin: 0 0 0 13px;
        width: auto;
      }

      .button:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}

@media screen and (min-width: $br-point-lg) {
  .cookieBarWrapper {
    height: 120px;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    p {
      max-width: 650px;
      margin-bottom: 0;
    }
  }
}
