@import "../../../assets/style/globalPartials/variables.scss";

.paginationWrapper {
  .pageControlsWrapper {

    button {
      height: 1rem;
      width: auto;
    }

    svg {
      fill: $grey1;
      stroke: none;
      width: 100%;
      height: 100%;
    }
  }
}
